.bytecode {
  font-family: monospace;
}

.active-button {
  font-weight: bold;
}

.bytecode-instr {
  margin: 0.2em;
  padding: 0em 0.1em;
  background-color: #eef;
}

.bytecode-instr.null {
  color: #888;
}

.bytecode-instr.active {
  background-color: #0f0; 
}